body{
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nav{
    padding-top: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.navlinks{
    display: flex;
    align-items: center;
    width: 830px;
    height: 100px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    column-gap: 15px;
}